<launch>

  <!-- 快速启动模式 - 精简版move_group配置 -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
           value="gdb -x $(dirname)/gdb_settings.gdb --ex run --args" />

  <!-- 快速启动参数 -->
  <arg name="info" default="false" />  <!-- 禁用调试信息 -->
  <arg name="pipeline" default="ompl" />
  <arg name="allow_trajectory_execution" default="true"/>
  <arg name="moveit_controller_manager" default="simple" />
  <arg name="fake_execution_type" default="interpolate"/>
  <arg name="max_safe_path_cost" default="1"/>
  <arg name="publish_monitored_planning_scene" default="false"/> <!-- 关闭监控发布 -->

  <!-- 最小化能力配置 -->
  <arg name="capabilities" default="move_group/MoveGroupMoveAction
                                   move_group/MoveGroupExecuteTrajectoryAction
                                   move_group/MoveGroupPlanService
                                   move_group/MoveGroupKinematicsService"/>
  <arg name="disable_capabilities" default="move_group/ClearOctomapService
                                           move_group/MoveGroupCartesianPathService
                                           move_group/MoveGroupPickPlaceAction
                                           move_group/MoveGroupQueryPlannersService
                                           move_group/MoveGroupStateValidationService
                                           move_group/MoveGroupGetPlanningSceneService"/>

  <arg name="load_robot_description" default="false" />
  
  <!-- 加载规划上下文 -->
  <include file="$(dirname)/planning_context.launch">
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
  </include>

  <!-- 仅加载OMPL规划器 -->
  <group ns="move_group/planning_pipelines">
    <include file="$(dirname)/planning_pipeline.launch.xml">
      <arg name="pipeline" value="ompl" />
    </include>
  </group>

  <!-- 轨迹执行 -->
  <include ns="move_group" file="$(dirname)/trajectory_execution.launch.xml" if="$(arg allow_trajectory_execution)">
    <arg name="moveit_manage_controllers" value="true" />
    <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    <arg name="fake_execution_type" value="$(arg fake_execution_type)" />
  </include>

  <!-- 启动move_group节点 -->
  <node name="move_group" launch-prefix="$(arg launch_prefix)" pkg="moveit_ros_move_group" type="move_group" respawn="false" output="screen">
    <param name="allow_trajectory_execution" value="$(arg allow_trajectory_execution)"/>
    <param name="sense_for_plan/max_safe_path_cost" value="$(arg max_safe_path_cost)"/>
    <param name="default_planning_pipeline" value="$(arg pipeline)" />
    <param name="capabilities" value="$(arg capabilities)" />
    <param name="disable_capabilities" value="$(arg disable_capabilities)" />

    <!-- 快速启动优化参数 -->
    <param name="monitor_dynamics" value="false" />
    <param name="planning_scene_monitor/publish_planning_scene" value="false" />
    <param name="planning_scene_monitor/publish_geometry_updates" value="false" />
    <param name="planning_scene_monitor/publish_state_updates" value="false" />
    <param name="planning_scene_monitor/publish_transforms_updates" value="false" />
    <param name="planning_scene_monitor/publish_planning_scene_hz" value="1.0" />
    
    <!-- 碰撞检测优化 -->
    <param name="planning_scene_monitor/default_robot_link_padding" value="0.0" />
    <param name="planning_scene_monitor/default_robot_link_scale" value="1.0" />
    <param name="planning_scene_monitor/default_attached_padd" value="0.0" />
    <param name="planning_scene_monitor/default_attached_scale" value="1.0" />
    
    <!-- 减少碰撞几何体复杂度 -->
    <param name="collision_detection/fcl/collision_tolerance" value="0.05" />
    <param name="collision_detection/max_cost_sources" value="4" />
    <param name="collision_detection/fcl/use_distance_lower_bound" value="true" />
    
    <!-- 减少内存占用 -->
    <param name="planning_scene_monitor/max_safe_path_cost" value="1.0" />
    <param name="trajectory_execution/allowed_execution_duration_scaling" value="1.2" />
    <param name="trajectory_execution/allowed_goal_duration_margin" value="0.5" />
  </node>

</launch>