<launch>
  
  <!-- 相机配置 - 移除type属性，使用引号确保字符串 -->
  <arg name="camera1_enable"       default="false"/>
  <arg name="camera1_name"         default="camera/top"/>
  <arg name="camera1_serial_no"    default="318122302992"/>
  
  <arg name="camera2_enable"       default="true"/>
  <arg name="camera2_name"         default="camera/hand"/>
  <arg name="camera2_serial_no"    default="337122071190"/>
  
  <arg name="camera3_enable"       default="false"/>
  <arg name="camera3_name"         default="camera/chassis"/>
  <arg name="camera3_serial_no"    default="337122071540"/>
  
  <!-- 图像配置 -->
  <arg name="depth_width"          default="640"/>
  <arg name="depth_height"         default="480"/>
  <arg name="depth_fps"            default="30"/>
  <arg name="color_width"          default="640"/>
  <arg name="color_height"         default="480"/>
  <arg name="color_fps"            default="30"/>
  
  <!-- 最小功能集 -->
  <arg name="enable_depth"         default="true"/>
  <arg name="enable_color"         default="true"/>
  <arg name="enable_pointcloud"    default="false"/>
  <arg name="enable_sync"          default="false"/>
  <arg name="align_depth"          default="false"/>
  <arg name="initial_reset"        default="false"/>
  <arg name="filters"              default=""/>
  
  <!-- Camera 1 - Top -->
  <group ns="$(arg camera1_name)" if="$(arg camera1_enable)">
    <!-- 使用include方式调用原始launch文件 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"          value="$(arg camera1_serial_no)"/>
      <arg name="tf_prefix"          value="$(arg camera1_name)"/>
      <arg name="initial_reset"      value="$(arg initial_reset)"/>
      <arg name="enable_pointcloud"  value="$(arg enable_pointcloud)"/>
      <arg name="enable_depth"       value="$(arg enable_depth)"/>
      <arg name="enable_color"       value="$(arg enable_color)"/>
      <arg name="enable_infra1"      value="false"/>
      <arg name="enable_infra2"      value="false"/>
      <arg name="enable_gyro"        value="false"/>
      <arg name="enable_accel"       value="false"/>
      <arg name="enable_sync"        value="$(arg enable_sync)"/>
      <arg name="align_depth"        value="$(arg align_depth)"/>
      <arg name="depth_width"        value="$(arg depth_width)"/>
      <arg name="depth_height"       value="$(arg depth_height)"/>
      <arg name="depth_fps"          value="$(arg depth_fps)"/>
      <arg name="color_width"        value="$(arg color_width)"/>
      <arg name="color_height"       value="$(arg color_height)"/>
      <arg name="color_fps"          value="$(arg color_fps)"/>
      <arg name="filters"            value="$(arg filters)"/>
    </include>
  </group>
  
  <!-- Camera 2 - Hand -->
  <group ns="$(arg camera2_name)" if="$(arg camera2_enable)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"          value="$(arg camera2_serial_no)"/>
      <arg name="tf_prefix"          value="$(arg camera2_name)"/>
      <arg name="initial_reset"      value="false"/>
      <arg name="enable_pointcloud"  value="$(arg enable_pointcloud)"/>
      <arg name="enable_depth"       value="$(arg enable_depth)"/>
      <arg name="enable_color"       value="$(arg enable_color)"/>
      <arg name="enable_infra1"      value="false"/>
      <arg name="enable_infra2"      value="false"/>
      <arg name="enable_gyro"        value="false"/>
      <arg name="enable_accel"       value="false"/>
      <arg name="enable_sync"        value="$(arg enable_sync)"/>
      <arg name="align_depth"        value="$(arg align_depth)"/>
      <arg name="depth_width"        value="$(arg depth_width)"/>
      <arg name="depth_height"       value="$(arg depth_height)"/>
      <arg name="depth_fps"          value="$(arg depth_fps)"/>
      <arg name="color_width"        value="$(arg color_width)"/>
      <arg name="color_height"       value="$(arg color_height)"/>
      <arg name="color_fps"          value="$(arg color_fps)"/>
      <arg name="filters"            value="$(arg filters)"/>
    </include>
  </group>
  
  <!-- Camera 3 - Chassis -->
  <group ns="$(arg camera3_name)" if="$(arg camera3_enable)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"          value="$(arg camera3_serial_no)"/>
      <arg name="tf_prefix"          value="$(arg camera3_name)"/>
      <arg name="initial_reset"      value="false"/>
      <arg name="enable_pointcloud"  value="$(arg enable_pointcloud)"/>
      <arg name="enable_depth"       value="$(arg enable_depth)"/>
      <arg name="enable_color"       value="$(arg enable_color)"/>
      <arg name="enable_infra1"      value="false"/>
      <arg name="enable_infra2"      value="false"/>
      <arg name="enable_gyro"        value="false"/>
      <arg name="enable_accel"       value="false"/>
      <arg name="enable_sync"        value="$(arg enable_sync)"/>
      <arg name="align_depth"        value="$(arg align_depth)"/>
      <arg name="depth_width"        value="$(arg depth_width)"/>
      <arg name="depth_height"       value="$(arg depth_height)"/>
      <arg name="depth_fps"          value="$(arg depth_fps)"/>
      <arg name="color_width"        value="$(arg color_width)"/>
      <arg name="color_height"       value="$(arg color_height)"/>
      <arg name="color_fps"          value="$(arg color_fps)"/>
      <arg name="filters"            value="$(arg filters)"/>
    </include>
  </group>
  
</launch>
