<launch>
  
  <!-- 相机配置 - 降低带宽设置 -->
  <arg name="top_enable"       default="false"/>
  <arg name="top_name"         default="camera/top"/>
  <arg name="top_serial_no"    default="	318122302992"/>
  
  <arg name="hand_enable"       default="false"/>
  <arg name="hand_name"         default="camera/hand"/>
  <arg name="hand_serial_no"    default="	337122071190"/>
  
  <arg name="chassis_enable"       default="false"/>
  <arg name="chassis_name"         default="camera/chassis"/>
  <arg name="chassis_serial_no"    default="    337122071540"/>
  
  <!-- 标准图像配置 -->
  <arg name="depth_width"          default="640"/>
  <arg name="depth_height"         default="480"/>
  <arg name="depth_fps"            default="15"/>
  <arg name="color_width"          default="640"/>
  <arg name="color_height"         default="480"/>
  <arg name="color_fps"            default="15"/>
  
  <!-- 最小功能集 -->
  <arg name="enable_depth"         default="true"/>
  <arg name="enable_color"         default="true"/>
  <arg name="enable_pointcloud"    default="false"/>
  <arg name="enable_sync"          default="false"/>
  <arg name="align_depth"          default="false"/>
  <arg name="initial_reset"        default="true"/>  <!-- 启用初始重置 -->
  <arg name="filters"              default=""/>
  <arg name="enable_camera_tf"     default="true"/>   <!-- TF发布器控制 -->
  
  <!-- top - Top -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg top_enable)">
    <arg name="camera"             value="$(arg top_name)"/>
    <arg name="serial_no"          value="$(arg top_serial_no)"/>
    <arg name="tf_prefix"          value="$(arg top_name)"/>
    <arg name="initial_reset"      value="$(arg initial_reset)"/>
    <arg name="enable_pointcloud"  value="$(arg enable_pointcloud)"/>
    <arg name="enable_depth"       value="$(arg enable_depth)"/>
    <arg name="enable_color"       value="$(arg enable_color)"/>
    <arg name="enable_infra1"      value="false"/>
    <arg name="enable_infra2"      value="false"/>
    <arg name="enable_gyro"        value="false"/>
    <arg name="enable_accel"       value="false"/>
    <arg name="enable_sync"        value="$(arg enable_sync)"/>
    <arg name="align_depth"        value="$(arg align_depth)"/>
    <arg name="depth_width"        value="$(arg depth_width)"/>
    <arg name="depth_height"       value="$(arg depth_height)"/>
    <arg name="depth_fps"          value="$(arg depth_fps)"/>
    <arg name="color_width"        value="$(arg color_width)"/>
    <arg name="color_height"       value="$(arg color_height)"/>
    <arg name="color_fps"          value="$(arg color_fps)"/>
    <arg name="filters"            value="$(arg filters)"/>
  </include>
  
  <!-- hand - Hand -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg hand_enable)">
    <arg name="camera"              value="$(arg hand_name)"/>
    <arg name="serial_no"          value="$(arg hand_serial_no)"/>
    <arg name="tf_prefix"          value="$(arg hand_name)"/>
    <arg name="initial_reset"      value="true"/>  <!-- 启用初始重置 -->
    <arg name="enable_pointcloud"  value="$(arg enable_pointcloud)"/>
    <arg name="enable_depth"       value="$(arg enable_depth)"/>
    <arg name="enable_color"       value="$(arg enable_color)"/>
    <arg name="enable_infra1"      value="false"/>
    <arg name="enable_infra2"      value="false"/>
    <arg name="enable_gyro"        value="false"/>
    <arg name="enable_accel"       value="false"/>
    <arg name="enable_sync"        value="$(arg enable_sync)"/>
    <arg name="align_depth"        value="$(arg align_depth)"/>
    <arg name="depth_width"        value="$(arg depth_width)"/>
    <arg name="depth_height"       value="$(arg depth_height)"/>
    <arg name="depth_fps"          value="$(arg depth_fps)"/>
    <arg name="color_width"        value="$(arg color_width)"/>
    <arg name="color_height"       value="$(arg color_height)"/>
    <arg name="color_fps"          value="$(arg color_fps)"/>
    <arg name="filters"            value="$(arg filters)"/>
  </include>
  
  <!-- chassis - Chassis -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg chassis_enable)">
    <arg name="camera"              value="$(arg chassis_name)"/>
    <arg name="serial_no"          value="$(arg chassis_serial_no)"/>
    <arg name="tf_prefix"          value="$(arg chassis_name)"/>
    <arg name="initial_reset"      value="true"/>  <!-- 启用初始重置 -->
    <arg name="enable_pointcloud"  value="$(arg enable_pointcloud)"/>
    <arg name="enable_depth"       value="$(arg enable_depth)"/>
    <arg name="enable_color"       value="$(arg enable_color)"/>
    <arg name="enable_infra1"      value="false"/>
    <arg name="enable_infra2"      value="false"/>
    <arg name="enable_gyro"        value="false"/>
    <arg name="enable_accel"       value="false"/>
    <arg name="enable_sync"        value="$(arg enable_sync)"/>
    <arg name="align_depth"        value="$(arg align_depth)"/>
    <arg name="depth_width"        value="$(arg depth_width)"/>
    <arg name="depth_height"       value="$(arg depth_height)"/>
    <arg name="depth_fps"          value="$(arg depth_fps)"/>
    <arg name="color_width"        value="$(arg color_width)"/>
    <arg name="color_height"       value="$(arg color_height)"/>
    <arg name="color_fps"          value="$(arg color_fps)"/>
    <arg name="filters"            value="$(arg filters)"/>
  </include>
  
  <!-- 相机TF发布器 -->
  <group if="$(arg enable_camera_tf)">
    <node name="camera_tf_publisher" pkg="camera_driver" type="camera_tf_publisher.py" output="screen">
      <param name="config_path" value="$(find camera_driver)/config"/>
      <param name="publish_rate" value="30.0"/>
    </node>
  </group>
  
</launch>
