<launch>
    <!-- Launch the IMU driver -->
    <include file="$(find imu_driver)/launch/imu_driver.launch"/>
    
    <!-- Launch the test listener node -->
    <node pkg="imu_driver" type="imu_test.py" name="imu_test_listener" output="screen"/>
    <remap from="/sensors/imu/data" to="/imu/data" />
</launch>