<launch>
  <arg name="model" default=""/>
  
  <param
    name="robot_description"
    textfile="$(find mobile_manipulator2_description)/urdf/mobile_manipulator2_description.urdf" />
    
  <!-- Use non-GUI joint_state_publisher with default values for all joints -->
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">["/move_group/fake_controller_joint_states"]</rosparam>
  </node>
  
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
    
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mobile_manipulator2_description)/rviz/display.rviz" />
</launch>