<launch>
  <!-- 加载话题配置 -->
  <rosparam file="$(find arm_planner)/config/topics.yaml" command="load" />
  
  <!-- Sensor Calibration -->
  <include file="$(find sensor_calibration)/launch/sensor_calibration.launch" />
  
  <!-- Inference Abstraction -->
  <include file="$(find inference_abstraction)/launch/inference_abstraction.launch" />
  
  <!-- SLAM -->
  <include file="$(find slam)/launch/slam.launch" />
  
  <!-- Perception -->
  <include file="$(find perception)/launch/perception.launch" />
  
  <!-- Object Tracker -->
  <include file="$(find object_tracker)/launch/object_tracker.launch" />
  
  <!-- Target Filter -->
  <include file="$(find target_filter)/launch/target_filter.launch" />
  
  <!-- Task Router -->
  <include file="$(find task_router)/launch/task_router.launch" />
  
  <!-- Task Manager -->
  <include file="$(find task_mgr)/launch/task_mgr.launch" />
  
  <!-- Chassis Planner -->
  <include file="$(find chassis_planner)/launch/chassis_planner.launch" />
  
  <!-- Arm Planner -->
  <include file="$(find arm_planner)/launch/arm_planner.launch" />
  
  <!-- Chassis Controller -->
  <include file="$(find chassis_controller)/launch/chassis_controller.launch" />
  
  <!-- Arm Controller -->
  <include file="$(find arm_controller)/launch/arm_controller.launch" />
  
  <!-- DAG Executor -->
  <!-- include file="$(find dag_framework)/launch/dag_executor.launch" /-->
  
  <!-- MoveIt! -->
  <!-- Commented out due to missing my_arm_moveit_config package -->
  <!-- <include file="$(find my_arm_moveit_config)/launch/move_group.launch">
    <arg name="point_cloud_topic" value="/sensors/point_cloud" />
  </include> -->
  
  <!-- Octomap Server -->
  <!-- Commented out due to missing octomap_server package -->
  <!-- <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="frame_id" value="odom" />
    <param name="resolution" value="0.05" />
    <param name="point_cloud_topic" value="/sensors/point_cloud" />
    <remap from="/octomap_full" to="/environment/octomap" />
  </node> -->
</launch>